.*.swp
*.o
*.lo
*.a
*.la
*.lai
*.exe

frontends/conf/conf
frontends/conf/*-conf
frontends/gconf/gconf
frontends/gconf/*-gconf
frontends/mconf/mconf
frontends/mconf/*-mconf
frontends/nconf/nconf
frontends/nconf/*-nconf
frontends/qconf/qconf
frontends/qconf/*-qconf
frontends/qconf/qconf.moc
frontends/*/.libs

libs/images/images.c
libs/images/images.h
libs/parser/?conf.c
libs/*/.libs

utils/tweak
utils/gettext
utils/*-gettext
utils/.libs

aclocal.m4
configure
config.log
config.status
libtool

Makefile
Makefile.in
stamp-h1

.deps/
autom4te.cache/
scripts/.autostuff
