config HAVE_USART
    bool
    prompt "USART Support"

config HAVE_I2C
    bool
    prompt "I2C Support"

config HAVE_SPI
    bool
    prompt "SPI Support"

config HAVE_LED
    bool
    prompt "LED Support"

config HAVE_USBDEV
    bool
    prompt "USB Device Support"

config HAVE_SWO
    bool
    prompt "Serial Wire Output (SWO) Support"

config HAVE_ITM
    bool
    prompt "Instrumental Trace Macrocell Support"
    depends on HAVE_SWO && ALLOW_SWO

config SYSTICK_FREQ
    int
    prompt "Systick Frequency"
    default 4000
    ---help---
        The frequency at which system ticks (and thus, task switching), should occur.

config SHARED_MEM_SIZE
    int
    prompt "Shared memory resource buffer size"
    default 512
    ---help---
        The size of buffer to be allocated for each shared memory
        resource opened.

config ALLOW_SWO
    bool
    prompt "Allow use of Serial Wire Output (SWO)"
    depends on HAVE_SWO
    ---help---
        Allows the OS to modify SWO configuration and use it as an output.

config SWO_FREQ
    int
    prompt "Serial Wire Output (SWO) Frequency"
    depends on HAVE_SWO && ALLOW_SWO
    default 6000

config ITM_BUS_ID
    int
    prompt "Instrumental Trace Macrocell Bus ID"
    depends on HAVE_ITM
    default 1
    ---help---
        This selects the identifying bus ID that will be used in ITM.
