config HAVE_USART
    bool
    prompt "(Legacy) USART Support"

config HAVE_I2C
    bool
    prompt "I2C Support"

config HAVE_SPI
    bool
    prompt "SPI Support"

config HAVE_LED
    bool
    prompt "LED Support"

config HAVE_USBDEV
    bool
    prompt "(Legacy) USB Device Support"

config STDOUT_DEV
    string "Standard output device"
    ---help---
        Device name of default stdout device; usually FDT path.  Must be
        castable to a char_device.

config STDERR_DEV
    string "Standard error device"
    ---help---
        Device name of default stderr device; usually FDT path.  Must be
        castable to a char_device.

config SYSTICK_FREQ
    int
    prompt "Systick Frequency"
    default 4000
    ---help---
        The frequency at which system ticks (and thus, task switching), should occur.

config SHARED_MEM_SIZE
    int
    prompt "Shared memory resource buffer size"
    default 512
    ---help---
        The size of buffer to be allocated for each shared memory
        resource opened.

config ADC_CLASS
    bool "ADC Support"
    default y
    ---help---
        Enable support for the ADC class and drivers.  The ADC drivers provide
        support for analog inputs, given a GPIO object.

config PWM_CLASS
    bool "PWM Support"
    default y
    ---help---
        Enable support for the PWM class and drivers.  The PWM drivers provide
        support for hardware and/or software PWM outputs, given a GPIO object.

config UART_CLASS
    bool "UART Support"
    default y
    ---help---
        Enable support for the UART class and drivers.  The UART drivers provide
        support for hardware and software UARTs.

source "dev/mpu6000/Kconfig"

config ACCELEROMETERS
    bool "Accelerometer support"
    ---help---
        Include support for accelerometers.

if ACCELEROMETERS
    source "dev/accel/Kconfig"
endif

config BAROMETERS
    bool "Barometer support"
    ---help---
        Include support for barometers.

if BAROMETERS
    source "dev/baro/Kconfig"
endif

config GYROSCOPES
    bool "Gyroscope support"
    ---help---
        Include support for gyroscopes.

if GYROSCOPES
    source "dev/gyro/Kconfig"
endif

config MAGNETOMETERS
    bool "Magnetometer support"
    ---help---
        Include support for magnetometers.

if MAGNETOMETERS
    source "dev/mag/Kconfig"
endif

config ROTARY_ENCODERS
    bool "Rotary encoder support"
    ---help---
        Include support for rotary encoders.

if ROTARY_ENCODERS
    source "dev/rotary_encoder/Kconfig"
endif
