# Chip selection configuration

choice
    prompt "Chip to target"
    default CHIP_STM32F40X

config CHIP_STM32F40X
    bool "stm32f40x"
    ---help---
        ST Microelectronics STM32F40x line of Cortex M4Fs.

config CHIP_LM4F120H5
    bool "lm4f120h5"
    ---help---
        Texas Instruments LM4F120H5 Cortex M4F.

endchoice

config CHIP
    string
    default "stm32f40x" if CHIP_STM32F40X
    default "lm4f120h5" if CHIP_LM4F120H5

config HAVE_FPU
    bool
    prompt "FPU Support"
    default y
    ---help---
        Please note that this option must be set to yes.

config SYS_CLOCK
    int
    prompt "System clock speed"
    default 168000000 if CHIP_STM32F40X
    default 84000000 if CHIP_LM4F120H5
    ---help---
        Note: This must be set to the value configured by the chip clock function

if CHIP_STM32F40X
source arch/armv7m/chip/stm32f40x/Kconfig
endif

if CHIP_LM4F120H5
source arch/armv7m/chip/lm4f120h5/Kconfig
endif
