# Chip selection configuration

choice
    prompt "Chip to target"
    default CHIP_STM32F40X

config CHIP_STM32F40X
    bool "stm32f40x"
    ---help---
        ST Microelectronics STM32F40x line of Cortex M4Fs.

config CHIP_LM4F120H5
    bool "lm4f120h5"
    ---help---
        Texas Instruments LM4F120H5 Cortex M4F.

config CHIP_MSP432P401X
    bool "msp432p401x"
    ---help---
        Texas Instruments MSP432P401x line of Cortex M4Fs.

endchoice

config CHIP
    string
    default "stm32f40x" if CHIP_STM32F40X
    default "lm4f120h5" if CHIP_LM4F120H5
    default "msp432p401x" if CHIP_MSP432P401X

config HAVE_FPU
    bool
    prompt "FPU Support"
    default y
    ---help---
        Enable support for ARMv7-M floating point extensions.

        Without this option enabled, executing floating point instructions
        will result in a usage fault.

        libgcc should be linked in to provide software floating point
        arithmetic routines.

config SHORT_DOUBLE
    bool
    prompt "Use short doubles"
    default y if HAVE_FPU
    ---help---
        Build with '-fshort-double'.

        This will make everything of the double type equivalent in size to
        that of the float type.  That means that doubles will only be single
        precision floating point values.  This is particularly useful for
        chips that contain only a single precision floating point unit, to
        ensure that the FPU is actually used for floating point arithmetic.

        Chips with an FPU that have not enabled this option will require libgcc
        to provide software routines for double precision floating point
        arithmetic.

config SYS_CLOCK
    int
    prompt "System clock speed"
    default 168000000 if CHIP_STM32F40X
    default 84000000 if CHIP_LM4F120H5
    default 48000000 if CHIP_MSP432P401X
    ---help---
        Note: This must be set to the value configured by the chip clock function

if CHIP_STM32F40X
source arch/armv7m/chip/stm32f40x/Kconfig
endif

if CHIP_LM4F120H5
source arch/armv7m/chip/lm4f120h5/Kconfig
endif

if CHIP_MSP432P401X
source arch/armv7m/chip/msp432p401x/Kconfig
endif
