config INIT_SVC_STACK_POINTER
    hex
    prompt "Initial SVC Stack Pointer"
    ---help---
        The SVC mode stack pointer is initialized to this value

config INIT_IRQ_STACK_POINTER
    hex
    prompt "Initial IRQ Stack Pointer"
    ---help---
        The IRQ mode stack pointer is initialized to this value

config INIT_FIQ_STACK_POINTER
    hex
    prompt "Initial FIQ Stack Pointer"
    ---help---
        The FIQ mode stack pointer is initialized to this value

config INIT_ABT_STACK_POINTER
    hex
    prompt "Initial ABT Stack Pointer"
    ---help---
        The ABT mode stack pointer is initialized to this value

config INIT_UND_STACK_POINTER
    hex
    prompt "Initial UND Stack Pointer"
    ---help---
        The UND mode stack pointer is initialized to this value

config COPY_DATA
    bool
    prompt "Copy .data section"
    default n if CHIP_AM335X
    ---help---
        If the .data section is not already in memory at system startup,
        it must be copied as part of the C runtime startup.

menu "Chip"
source arch/armv7a/chip/Kconfig
endmenu
